*.pyc
.xml
/.idea
*/.DS_Store
/System/SpeakerIdentificationSystem/.idea

/System/SpeakerIdentificationSystem/venv

/System/SpeakerIdentificationSystem/DataPreprocess/__pycache__

/System/SpeakerIdentificationSystem/__pycache__

/System/SpeakerIdentificationSystem/DB/__pycache__
